include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include SECURITY.md
include THIRD_PARTY_NOTICES.md
recursive-include LICENSES *.txt
recursive-include docs *.gif *.jpg *.json *.md *.png *.svg
recursive-include frame2frame/pose/data *.txt
recursive-include scripts *.py
recursive-include tests *.py
